* {
    box-sizing: border-box;
    padding: 0;
}

.hidden{
    display: none;
}

.lists {
    list-style-type: none;
}

li {
    padding: 10px;
    margin: 5px;
    background: #f5f5f9;
}

.sent {
    text-align: right;
}

#chatForm {
    position: fixed;
    bottom: 10px;
}
